.rectangle-form-top {
    height: 200vh;
    width: 200vh;
    background: #8E7DDB;
    position: absolute;
    transform: rotate(25deg) translateY(-142vh) translateX(-118vh);
    z-index: 20;

    &:before {
        content: "";
        height: 200vh;
        width: 200vh;
        background: #8E7DDB;
        position: absolute;
        transform: translateY(15vw) translateX(-25vw);
    }

    &:after {
        content: "";
        height: 200vh;
        width: 200vh;
        background: #8E7DDB;
        position: absolute;
        transform: translateY(-10vw) translateX(35vw);
    }
}

.rectangle-form-bottom {
    height: 200vh;
    width: 200vh;
    background: #8E7DDB;
    position: absolute;
    transform: rotate(25deg) translateY(140vh) translateX(110vh);
    z-index: 20;


    &:before {
        content: "";
        height: 200vh;
        width: 200vh;
        background: #8E7DDB;
        position: absolute;
        transform: translateY(15vw) translateX(-25vw);
    }

    &:after {
        content: "";
        height: 200vh;
        width: 200vh;
        background: #8E7DDB;
        position: absolute;
        transform: translateY(-10vw) translateX(35vw);
    }
}

.teeth-form-down {
    position: absolute;
    z-index: 15;
    left: -6px;
    bottom: calc(30vh - 130vw);


    img {
        width: 110vw;
    }
}

.teeth-form-up {
    position: absolute;
    z-index: 15;
    left: -6px;
    top: calc(20vh - 140vw);

    img {
        width: 110vw;
    }
}

@media screen and (min-width: 600px) {

    .teeth-form-up {
        position: absolute;
        z-index: 15;
        left: -15px;
        top: calc(20vh - 130vw);

        img {
            width: 105vw;
        }
    }

    .teeth-form-down {
        position: absolute;
        z-index: 15;
        left: -15px;
        bottom: calc(30vh - 130vw);


        img {
            width: 105vw;
        }
    }

    .rectangle-form-bottom {
        height: 200vh;
        width: 200vh;
        background: #8E7DDB;
        position: absolute;
        transform: rotate(25deg) translateY(1450vh) translateX(110vh);
        z-index: 20;


        &:before {
            content: "";
            height: 200vh;
            width: 200vh;
            background: #8E7DDB;
            position: absolute;
            transform: translateY(15vw) translateX(-25vw);
        }

        &:after {
            content: "";
            height: 200vh;
            width: 200vh;
            background: #8E7DDB;
            position: absolute;
            transform: translateY(-10vw) translateX(35vw);
        }
    }

}